.footer-col {
  display: flex;
  align-items: center;
  width: 100%;
}
.github-link {
  margin-left: auto;
}
.github-link svg {
  padding-left: 1em;
  height: 1.4em;
  width: 1.4em;
}

hr {
  clear: both;
}

iframe[src*="chatlog"] {
  border: none;
  width: 100%;
  height: 200dvh;
}

ul.tag-list { display: inline-flex; list-style: none; padding: 0; margin:0; margin-bottom: 1em; flex-wrap: wrap; }
ul.tag-list > li { margin-left: 0.5em; }

article.post > header {
  background-color: #f8f8f8;
  padding: 1em;
}

.post-list h3 {
  margin-bottom: 0.25em;
}

iframe {
  display: block;
  margin: 1em auto;
  border: none;
  /* box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px; */
}

iframe[src*="youtube"] {
  aspect-ratio: 16/9;
}

iframe[src*="google.com/maps"] {
  aspect-ratio: 1;
}

.caption {
  font-weight: 600;
  text-align: center;
  margin-top: 0.5em;
}

img[src*=".svg"] {
  height: 1em;
}

pre { white-space: pre-wrap; word-wrap: break-word; }
main.page-content { animation: fadeInOpacity ease 1s; }
.chat { display: flex; flex-direction: column; margin: auto; }
.prompt-wrapper { align-self: flex-end; max-width: 75%; }
.prompt { background-color: #eee; border-radius: 12px; padding: .75em 1em; }
.prompt > p { margin: 0; }
.response { max-width: 75%; margin-bottom: 2em; }
sl-copy-button { opacity: 0; }
sl-copy-button::part(button) { padding-top: 3px; }
.prompt-wrapper:hover > sl-copy-button { opacity: 1; }
.prompt img, .response img { display: block; margin: 6px 0; border: 1px solid #ddd; border-radius: 6px; width: 200px; max-width: 50%; min-width: 200px; box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px; cursor: pointer;}
sl-dialog::part(body) { padding: 0; }

ul.tag-list { display: inline-flex; list-style: none; padding: 0; margin:0; margin-bottom: 1em; flex-wrap: wrap; }
ul.tag-list > li { margin-left: 0.5em; }

article.post > header {
background-color: #f8f8f8;
padding: 1em;
}

td { 
  overflow-wrap: break-word; 
  word-wrap: break-word; 
  -ms-word-break: normal; 
  word-break: normal; 
  vertical-align: top;
}
